:root {
  --accent-color: #64099B;
  --dark-color: #1D1C1D;
  --light-color: #f2f9f7;
  --aquamarine-color: #6CB9AB;
  --font-family: "Inter", sans-serif;
  --btn: #fff;
  --btn-hover: #f0f0f0;
  --btn-active: #64099b;
}

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}

html {
  box-sizing: border-box;
  min-width: 320px;

}

body {
  font-family: var(--font-family);
  background-color: #fff;
  font-size: 20px;
  line-height: 1.24;
  color: var(--dark-color);
}

main {
  flex-grow: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}


/* header */
.header {}


.header__bg {
  background-color: var(--aquamarine-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--aquamarine-color);
  border-radius: 6px;
  padding: 8px 16px;
}

.header__logo-link {
  font-size: 0;
}

.header__logo {
  width: 78px;
  height: 53px;
}

.header__nav {
  display: none;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 50px;
}

/* .header__menu-item {
  margin-right: 50px;
}

.header__menu-item:last-child {
  margin-right: 0;
} */

.header__menu-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.24;
}

.header__menu-link:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.header__menu-link_active {
  color: var(--accent-color);
}


.header__cart-link {
  background-image: url(../image/bag.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 28px;
  text-decoration: none;

  font-family: var(--font-family);
  font-size: 12px;
  line-height: 36px;
  text-align: center;
  color: var(--accent-color);
}

/* // header */

/* Promo */
.promo {
  background-color: var(--aquamarine-color);
  padding-top: 95px;
  background-image: url(../image/bg-image.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding-bottom: 249px;
  background-size: 145px;
}

.promo__container {
  max-width: 451px;
}

.promo__title {
  font-family: var(--font-family);
  line-height: 1.1;

  color: #fff;
  margin-top: 0;
  margin-bottom: 60px;

  font-size: 40px;
  color: #fff;
}

.promo__link {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 16px 24px;
  text-decoration: none;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;

  line-height: 25px;
  color: #fff;
}

.promo__link:hover {
  text-decoration: none;
  color: var(--btn-hover);
  border: 1px solid var(--btn-hover);
}

.promo__link:active {
  border: 1px solid var(--btn-active);
}

/* // Promo */

/* Products */

.products {
  padding: 100px 0;
}

.products__title {
  font-weight: 400;
  font-size: 54px;

  line-height: 1.1;
  color: var(--accent-color);
  margin-top: 0;
  margin-bottom: 32px;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.products__item {}

/* // Products */

/* Product */

.product {
  font-size: 0;
  background-color: var(--light-color);
  min-height: 360px;
  display: flex;
  flex-direction: column;
  color: var(--dark-color);
  height: 100%;
}

.product__image {
  width: 100%;
}

.product__content {
  flex-grow: 1;
  padding: 40px 24px 24px;
  display: flex;
  flex-direction: column;
}

.product__title {
  flex-grow: 1;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product__price {
  margin: 0;
  font-size: 16px;
}

/* // Product */

/* footer */
.footer {
  background-color: var(--aquamarine-color);
  padding: 60px 0;
  color: #fff;
}

.footer_nav {}

.footer__container {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  justify-content: space-between;
}

.footer__logo-link {
  font-size: 0;
}

.footer__logo {}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__menu-item {}

.footer__menu-link:hover {
  color: var(--accent-color)
}

.footer__menu-link_active {
  color: var(--accent-color)
}

.footer__info {}

.footer__copyright {
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 17px;
}

.footer__description {
  margin-bottom: 3px;
  font-size: 16px;
}

.footer__developers {}

.footer__developer {
  margin-bottom: 3px;
  font-size: 16px;
}

.footer__link:hover {
  color: var(--accent-color);
}

.footer__contacts {}

.footer__email {
  display: inline-block;
  margin-bottom: 16px;
}

.footer__email:hover {
  color: var(--btn-active);
}

.footer__social {
  display: flex;
  gap: 15px;
}

.footer__social-item {}

.footer__social-link:hover {
  color: var(--accent-color);
}

/* // footer */

/* media */

@media (min-width: 375px) {
  .products__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .footer__menu {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .promo__container {
    max-width: 451px;
  }

  .container {
    padding: 0 42px;
  }

  header {
    padding: 20px 20px 0;
  }

  .header__container {
    padding: 8px 22px;
  }

  .footer__menu {
    gap: 24px;
  }

  .footer__container {
    gap: 38px;
    grid-template-columns: repeat(2, max-content);
  }

  .products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .product__title {
    font-size: 20px;
  }

  .promo__title {
    font-size: 54px;
  }

  .header__nav {
    display: block;

  }

  .promo {
    padding-bottom: 60px;
    background-size: 203px;
    background-position: 92% 100%;
  }
}

@media (min-width: 1024px) {
  .promo {
    background-size: 229px;
    background-position: 92% 100%;
  }

  .promo__container {
    max-width: 620px;
  }

  .container {
    padding: 0 42px;
  }

  .header__container {
    padding: 12px 22px;
  }

  .header__menu-link {
    font-size: 20px;
  }

  .header__logo {
    width: 99px;
    height: 67px;
  }

  .footer__menu {
    gap: 32px;
  }

  .product__title {
    font-size: 24px;
  }

  .product__price {
    font-size: 20px;
  }

  .product {
    min-height: 450px;
  }

  .promo__title {
    font-size: 70px;
  }
}

@media (min-width: 1440px) {
  .promo__container {
    max-width: 788px;
  }

  .container {
    padding: 0 70px;
  }

  .header {
    padding: 24px 24px 0;
  }

  .header__container {
    padding: 12px 46px;
    max-width: 1392px;
  }

  .footer__menu {
    gap: 50px;
  }

  .product {
    min-height: 600px;
  }

  .promo__title {
    font-size: 88px;
  }

  .promo {
    padding-bottom: 80px;
    background-size: auto;
  }
}